#container{
    display: flex;
    align-items: center;
    max-width: 60%;
    margin: auto;
}

#hero-image,#hero-content{
    width: 50%;
    flex: 1;

    
}
#hero-image{
    max-width: 100%;
    
}
#hero{
    padding-top: 100px;
    padding-bottom: 100px;
}
#hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
  
}
.btn{
    display: flex;
    gap: 30px;
}
